body {
    font-family: 'Gentium Book Plus', serif;



}

h1 {
    font-size: 40px;
}

.orenge {
    color: orange
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
}

.half-width img {
    width: 80%;
}

.link {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 30%;
}