body {
    font-family: 'Gentium Book Plus', serif;



}

h1 {
    font-size: 40px;
}

.orenge {
    color: orange
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-top: 10%;
}

.half-width img {
    width: 80%;
}

.link {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 30%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: aqua;

    font-weight: 400;

}

.color {
    background-color: bisque;
}

.recipie {
    text-align: center;
    padding-top: 10;
    padding-left: 25%;
    padding-right: 25%;

}

.food {
    text-align: center;
}

.box {
    height: 50%;
    box-shadow: 7px solid gray;
}

.pic {
    padding-top: 5px;
    margin-top: 20px;
    padding-top: 5px;

}

.wi {
    width: 100px;
    box-shadow: gray;

}

.you {
    text-align: center;
    padding-left: 50%;
}

.ins {
    text-align: center;
    padding-left: 400%;
}

.li {
    text-align: center;
    padding-left: 450%;
    padding-right: 30%;
}